body{
height: 800px;
background-image: url("EEEoA8oLaAxvDZG9qYrsRrhbbUfYehZ6Y1odDgmdtBBGG5MbPicySNxdHVSiQkrFXZTDXQNotLpyJX5KzZpgjH5fuW6yHsF1TFUEboYY6vB2pF7LqDuXVD18EsyA4MaEN2zp6hX9c1XWuXvqcjjnq.gif");
background-size: cover;
background-size: 1400px;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;}
h1{
    color: rgb(2, 2, 2);
    text-align: center;
    font-size: 90px;
    text-shadow: 0 0 18px #34ca26;
    border:rgb(6, 177, 63);
    margin-top: 45px;
    margin-bottom: 20px;
    
}



textarea{
    resize: none;
    border-radius: 9px;
    border-color: #000000;
    box-shadow: 0 0 18px#34ca26;
    background-color: #000000;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-top: 12px;
    margin-top: 2 px;
    margin-bottom: 20px;
    padding: center;
    text-emphasis-color: white;
    
    
}



.encriptar-button{
    border-top: 3px double rgb(3, 105, 20);
    border-right: 3px double rgb(3, 105, 20);
    border-bottom: 3px double rgb(3, 105, 20);
    border-left: 3px double rgb(3, 105, 20);
    font-size: 24px;
    font-family: fantasy;
    padding-top: 10px;
    width: 260px;
    padding: 12px;
    margin-top: 20px;
    margin-right: 20px; 
    cursor: pointer; 
    background-color: rgb(2, 2, 2);
    color: rgb(113, 255, 57);
    letter-spacing: 2px;
    box-shadow: 0 0 36px #34ca26;
    transition: delay 0.5em;
    margin-right: 20px;  
        
}

.desencriptar-button:hover{
    background: #aedd82;
    box-shadow: 0 0 36px #34ca26;
    transition: delay 0.5em;
}
    
.desencriptar-button{
    border-top: 3px double rgb(3, 105, 20);
    border-right: 3px double rgb(3, 105, 20);
    border-bottom: 3px double rgb(3, 105, 20);
    border-left: 3px double rgb(3, 105, 20);
    font-size: 24px;
    font-family: fantasy;
    padding-top: 10px;
    width: 260px;
    padding: 12px;
    margin-top: 20px;
    margin-right: 20px; 
    cursor: pointer; 
    background-color: rgb(2, 2, 2);
    color: rgb(113, 255, 57);
    letter-spacing: 2px;
    box-shadow: 0 0 36px #34ca26;
    transition: delay 0.5em;
    margin-left: 20px;  
        
}

.encriptar-button:hover{
    background: #aedd82;
    box-shadow: 0 0 36px #34ca26;
    transition: delay 0.5em;
}

footer{
    width: 100%;
    height: 50px;
    background: #065f3a;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}



