div{border:1px solid blue;background-color: aliceblue;padding: 10px;
width: 200px; display: inline-block;}
.hide{visibility: hidden;;} /**/
.caja1{border-top: 5px solid blue;
border-right: 5px ouset blue;
border-bottom: 5px double blue;
border-left: 5px dotted blue;

background-color: lightblue;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 80px;}

.caja2{border: 1px solid black ;
background-color: lightgreen;
padding-top: 50px;
padding-right: 100px;
padding-bottom: 150px;
padding-left: 30px;}